@import "tailwindcss";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
} 

.hidden-scroll::-webkit-scrollbar{
   display: none;
}

/* Scrollbar THIN */
.thin-scroll {
  scrollbar-width: thin;
}

.thin-scroll::-webkit-scrollbar {
  width: 6px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 8px;
}

.bold-scroll {
  scrollbar-width: auto;
}

.bold-scroll::-webkit-scrollbar {
  width: 14px;
}

.bold-scroll::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #4b9ce2 #e1e1e1;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e1e1e1;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4b9ce2;
  border-radius: 12px;
}

/* ---- Calendar Container ---- */
.rdp {
  --rdp-accent-color: #2563eb; /* blue-600 */
  --rdp-background-color: #eff6ff; /* blue-50 */
  --rdp-outline: 2px solid #2563eb;
}

.rdp {
  padding: 8px;
}

.rdp-month_caption .rdp-caption_label {
  font-weight: 600;
  font-size: 14px;
}

.rdp-month_caption select {
  font-weight: 400;
  font-size: 14px;
}


.rdp-dropdown_month,
.rdp-dropdown_year {
  padding: 4px 6px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: white;
  font-size: 13px;
}

.rdp-head_cell {
  color: #6b7280 !important; 
  font-size: 12px;
  padding: 4px 0;
}

.rdp-day {
  height: 34px;
  width: 34px;
  margin: auto;
  font-size: 13px;
  border-radius: 10px !important;
  transition: all 0.15s ease;
}

.rdp-day:hover {
  background: #dbeafe !important; 
  color: #1e40af !important;
}

.rdp-day_selected {
  background: #2563eb !important; 
  color: white !important;
  font-weight: 600;
}

.rdp-day_today:not(.rdp-day_selected) {
  border: 1px solid #2563eb !important;
  color: #2563eb !important;
}

.rdp-day_outside {
  color: #d1d5db !important;
}

.rdp-dropdown_root {
  background-color: #000000;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.rdp-dropdown_root select{
  color: #000;
}
